html, body {
    height: 100%;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    transition: all 0.5s;
}

header.active {
    background-color: #000;
    position: fixed;
    z-index: 90;
}

header.active nav .nav-link {
    margin: 10px 0 10px 40px;
    font-size: 18px;
}

header.active nav .nav-link:hover {
    margin: 10px 0 8px 40px;
}

header nav {
    justify-content: flex-end;
}

header nav .nav-link {
    color: #fff;
    font-weight: 500;
    padding: 0 0 4px 0;
    margin: 30px 0 30px 40px;
    font-size: 1.2rem;
}

header nav .nav-link:hover {
    border-bottom: 2px solid #fff;
    color: #fff; 
}

.main {
    height: 100%;
}

.main .title {
    text-align: center;
    font-size: 3rem;
    font-weight: 300;
    margin-bottom: 50px;
}

.main .banner {
    background-image: url('../img/banner.jpg');
    background-size: cover;
    min-height: 100%;
    position: relative;
}

.main .banner .arrow {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    z-index: 20;
    animation: myarrow 1s infinite;
    display: inline-block;
}

.main .banner .arrow i {
    font-size: 50px;
}

@-webkit-keyframes myarrow {
    0% {bottom: 10px;}
    50% {bottom: 30px;}
    100% {bottom: 10px;}
} 

.main .banner .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main .banner .content h1,
.main .banner .content p {
    color: #fff;
}

.main .banner .content h1 {
    font-size: 4rem;
    font-weight: 500;
}

.main .banner .content p {
    font-size: 2rem;
    font-weight: 400;
}

.main .about {
    padding: 80px 0;
}

.main .about .info .description {
    margin-bottom: 30px;
}

.main .about .info .description .photo img {
    width: 100%;
    border-radius: 10px;
    border: 1px solid rgba(157, 154, 153, .3);
    box-shadow: 0 0 10px rgba(157, 154, 153, .1);
}

.main .about .info .description .text p {
    text-align: justify;
}

.main .portfolio {
    padding: 80px 0;
    background-color: #ececec;
}

.main .portfolio .figure {
    position: relative;
}

.main .portfolio .figure img {
    border: 1px solid rgba(157, 154, 153, .3);
    box-shadow: 0 0 10px rgba(157, 154, 153, .1);
}

@media screen and (max-width: 540px) {
    header nav {
        justify-content: center;
    }

    header nav .nav-link,
    header.active nav .nav-link,
    header.active nav .nav-link:hover {
        margin: 20px 12px;
    }

    .main .banner .content h1 {
        font-size: 2rem;
    }

    .main .banner .content p {
        font-size: 1rem;
        font-weight: 300;
    }

    .main .about .info .description .photo {
        order: 1;
        margin-bottom: 20px;
    }

    .main .about .info .description .text {
        order: 2;
    }
}